<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>EMS System</h1><br>
        <h3>Dokumentacja wyjazdowa:</h3>
        <ul>
            <li>Karta wyjazdowa pojazdu</li>
            <li>Karta wyjazdowa poszkodowanego</li>
            <li>Raport uzupełnienia materiałów eksploatacyjnych</li>
            <li>Raport wypadku pojazdu służbowego</li>
        </ul>
        <h3>Dokumentacja osierodka:</h3>
        <ul>
            <li><a href="/karta_pacjeta">Karta pacjęta</a></h1>
            <li>Zasoby osierodka</li>
            <li>Działania chirurgiczne</li>
        </ul>
    </body>
</html>