<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Karta pacjęta</h1><br>
        <a href="/"><button>Strona główna</button></a><button>Dodaj kartę</button><button>Zarządzaj kartami</button><br>
        <table>
            <tr>
                <th>Nr.</th>
                <th>Imię i Nazwisko</th>
                <th>Data</th>
                <th>Ratownik</th>
                <th>Opcje</th>
            </tr>
            <tr>
                <td>0001</td>
                <td>Jan Kowalski</td>
                <td>01.01.2018</td>
                <td>Marcin Rytśmigło</td>
                <td><a href="#">Zobacz</a></td>
            </tr>
        </table>
    </body>
</html>