<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Karta pacjęta</h1><br>
        <a href="/"><button>Strona główna</button></a><button>Dodaj kartę</button><button>Zarządzaj kartami</button><br>
        <table>
            <tr>
                <th>Nr.</th>
                <th>Imię i Nazwisko</th>
                <th>Data</th>
                <th>Ratownik</th>
                <th>Opcje</th>
            </tr>
            <% for(var i=0; i<db.length; i++) { %>
                <tr>
                    <td><%=db[i].id%></td>
                    <td><%=db[i].name%></td>
                    <td><%=db[i].date%></td>
                    <td><%=db[i].rat%></td>
                    <td><a href="/pacjet">Zobacz</a></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>