<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Karta pacjęta nr.</h1><br>
        <a href="/"><button>Strona główna</button></a>

    </body>
</html>